.root{
	-fx-background-color:white;
}
.ToggleButton{
	-fx-background-image:url("/原按钮.png"); 
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%;
	-fx-text-fill:#81511c;
	-fx-border-color:#ffffff;
	-fx-background-color:#ffffff;
}
.SelectedButton{
	-fx-background-image:url("/button.png"); 
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%;
	-fx-text-fill:#ffffff;
	-fx-border-color:#ffffff;
}